<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!--引入-->
     {{ include './common/link.html'}}
     <link rel="stylesheet" href="/public/css/lightbox.css">

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        
       <!--头部栏-->
     {{ include './common/header.html'}}
      
     <!--左边侧边栏-->
     {{ include './common/side.html'}}
      
      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
          <h2>文章管理</h2>
          
          <table class="layui-hide" id="test" lay-filter="test"></table>
        <!--
          <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="show">查看内容</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
        -->
        <script type="text/html" id="leftContent">
          <div class="" style="display:flex ">

            <button type="button" id="add" class="layui-btn">
              <i class="layui-icon">&#xe608;</i> 添加
            </button>

            <div class="layui-form-item">
              <label class="layui-form-label">标题</label>
              <div class="layui-input-inline">
                <input type="text" name='title' id="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
              </div>
            </div>  

            <div class="layui-form-item">
              <label class="layui-form-label">状态</label>
              <div class="layui-input-inline">
                <select id="status" name="status" id='status' lay-verify="required">
                  <option value="">全部</option>
                  <option value="0">未发布</option>
                  <option value="1">已发布</option>
                  <option value="2">不通过</option>
                </select>
              </div>
            </div>  

            <button class="layui-btn" id="search">搜索</button>
          </div>
        </script>
          
        
        </div>
      </div>
      
      {{ include './common/footer.html'}}
    </div>
</body>
{{ include './common/scr.html'}}
<script src="/public/js/lightbox-plus-jquery.min.js"></script>
<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use(['element','table'], function(){
      var element = layui.element;
      var table = layui.table;

      //设置时间的格式 利用了moment.js
      //add_date = moment(add_date).format('YYYY-MM-DD HH:mm:ss')
  
      let tablUI =  table.render({
        elem: '#test'
        ,url:'/allarticle'
        ,id:'testReload'
        ,toolbar: '#leftContent' //开启头部工具栏，并为其绑定左侧模板
        ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
           title: '提示'
          ,layEvent: 'LAYTABLE_TIPS'
          ,icon: 'layui-icon-tips'
        }]
        //limit设置是每页显示数据的行数（8行）
        //limits数组是给浏览者设置每页多少行的
        ,limit: 8
        ,limits:[4,8,10,15]
        ,where:{
          a: 2,
          b: 3
        }
        ,title: '文章数据'
        ,cols: [[
          {type: 'checkbox', fixed: 'left'}
          ,{field:'art_id', title:'ID', fixed: 'left', unresize: true, sort: true}
          ,{field:'title', title:'标题',edit: 'text'}
          ,{field:'content', title:'内容',edit: 'text'}
          ,{field:'name', title:'所属分类',edit: 'text' }
          ,{field:'author', title:'作者',edit: 'text', sort: true}
          ,{field:'cover', title:'图片',templet({cover}){
            //解构返回图片
            let imgStr = `<a class="example-image-link" href="${cover}" data-lightbox="example-1" data-title="sb">
                              <img class="example-image" src="${cover}" alt="暂无图片"/>
                        </a>`
            return imgStr;
          }}
          ,{field:'status', title:'状态',unresize: false,templet:(item) => {
            let statusMap = {
              '0':'<span class="layui-badge layui-bg-green">未发布</span>',
              '1':'<span class="layui-badge layui-bg-cyan">已发布</span>',
              '2':'<span class="layui-badge layui-bg-blue">不通过</span>',
            }
            return statusMap[item.status]
          }}
          ,{field:'publish_data', title:'发布时间',width:180,sort: true,templet:(item) => {
            let {publish_date} = item;
            return publish_date = moment(publish_date).format('YYYY-MM-DD HH:mm:ss')
          }}
          ,{fixed: 'right', title:'操作', width:250,templet({status}){
            let temStr =`<a class="layui-btn layui-btn-xs" lay-event="show">查看内容</a>`;
            //根据状态来操作
            switch(status){
              //未发布
              case 0 :
              temStr +=`<a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="verify">待审核</a>`;
              break;
              default:
              break;
            }
            temStr += 
            `
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            `
            return temStr;
          }}
        ]]
          ,page: true
        //如果后台接口返回的参数与table参数不同，可以利用response重新定义
      })
       //监听事件
      table.on('tool(test)', function(obj){
            //var checkStatus = table.checkStatus(obj.config.id);
            //console.log(obj );
            //解构
            let {data,event} = obj;
            let {art_id,content} = data;//当前一行的数据
             switch(event){
               //删除
              case "del":
                del(art_id)
                break;
                
                //编辑
              case "edit":
                edit(art_id)
                break;
              
              //审核
              case "verify":
                verify(art_id)
                break;

              //查看内容
              case "show":
                showContent(content)
                break;

            }
          });
          
      //删除
      function del(art_id) {
        //引用询问框
        layer.confirm('确认删除？', {
          btn: ['删除', '取消'] //按钮
        }, function () {
          //发送请求
           $.ajax({
             type:"post",
             url:"/delArticle",
             data:{art_id},
             success(errcode,message){
               //关闭窗口
                layer.closeAll()
                if(errcode == 0){
                  //局部重新加载
                  tablUI.reload(); 
                }
             }
           })
        })

        }  
  
      //编辑
      function edit(art_id){ 
        location.href =`/artedit?art_id=${art_id}`
      }
  
      //文章更新状态    
      function updArtStatus(art_id,status){
        $.post('/updStaus',{art_id,status},(errcode,message) => {
          if(errcode == 0){
            tablUI.reload();
          }
           layer.msg(message)
        },'json')
      }
      //审核
      function verify(art_id){
        //询问框
        layer.confirm('是否通过', {
          btn: ['通过','取消'] //按钮
        }, function(){
          //通过改为1
          updArtStatus(art_id,1)
        }, function(){
          //不通过改为2
          updArtStatus(art_id,2)
        });
      }
      //添加
      $("#add").on('click',()=>{
        location.href = '/artadd'
      })
      //查看内容（回显）
      function showContent(content){
        //页面层
        layer.open({
          type: 1,
          skin: 'layui-layer-rim', //加上边框
          area: ['820px', '540px'], //宽高
          content: "<div style = 'padding:10px'>" + content + "</div>",//内边距
        });
      }
    //单击搜索表格数据
    $('body').on('click','#search',function(){
      //带上查询条件数据
      let title = $('#title').val();
      let status = $('#status').val();
      //重载表格
      table.reload('testReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          title,
          status
        }
      });
      //保留搜索框的搜索条件
      $('#title').val(title);
      $('#status').val(status);
 
    })

  })

    
    
</script>
</html>