<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--引入-->
    {{ include './common/link.html'}}

  </head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
     <!--头部栏-->
     {{ include './common/header.html'}}
      
     <!--左边侧边栏-->
     {{ include './common/side.html'}}
      
      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
          <h2>栏目管理</h2>
          <table class="layui-table" lay-even="" lay-skin="row">
            <colgroup>
              <col width="150">
              <col width="150">
              <col width="200">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>序号</th>
                <th>分类</th>
                <th>排序</th>
                <th>添加时间</th>
                <th>操作</th>
              </tr> 
            </thead>
            <tbody id="tbody">
              <button type="button" id="add" class="layui-btn">
                <i class="layui-icon">&#xe608;</i> 添加
              </button>
            </tbody>
          </table>  
        </div>
      </div>
      
       <!--底部栏-->
     {{ include './common/footer.html'}}
    </div>
</body>
{{ include './common/scr.html'}}

<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use(['layer','element'], function(){
  
});

  //渲染表格s
  function renderTable(data){
    let tbodtHtml = ``;
    data.forEach((item,index) => {
      //解构
      let {name,sort,add_date,cat_id} = item;
      //设置时间的格式 利用了moment.js
      add_date = moment(add_date).format('YYYY-MM-DD HH:mm:ss')
      //index + 1可以让序号从 1 开始
      tbodtHtml += `
              <tr>
                <td>${index + 1}</td>
                <td>${name}</td>
                <td>${sort}</td>
                <td>${add_date}</td>
                <td>
                  <div class="layui-btn-group">
                    <button title='编辑' cat_id='${cat_id}' type="button" class="layui-btn edit ">编辑</button>
                    <button title='删除' cat_id='${cat_id}' type="button" class="layui-btn layui-btn-danger delete">删除</button>
                  </div>
                </td>
              </tr>
      `;
      //把数据给tbody
      $("#tbody").html(tbodtHtml)
    })
  }

  //发送ajax请求获取数据库数据
  function initCatData(){
      $.ajax({
        url:'/getCate',
        dataType:"json"
      }).then(res => {
        //添加tr，放在tboby中
        renderTable(res)
      })
    }
  initCatData()

  //删除 ajax
  $('tbody').on("click",'.delete',function(){
      //利用cat_id获取并删除
      let cat_id = $(this).attr('cat_id');
      //插件代码直接复制
      //询问框
      layer.confirm('确认删除？', {
        btn: ['删除', '取消'] //按钮
      }, function () {
       //ajax请求
       $.ajax({
         type:'post',
         url:"delCat",
         data:{cat_id},
         dataType:"json"
       }).then((res) => {
        let {errcode,message} = res;
            if(errcode == 0){
              _this.parents('tr').remove();
              // 关闭确认框并把tr移除
              //关闭所有层
              layer.closeAll(); 
               //重新编号
              $.each($("#tbody tr").find('td:eq(0)'),function(index,ele){
                  $(ele).html(index + 1)
              })
              layer.msg(message)
            }
       }).catch(err=>{
         //关闭所有层
          layer.closeAll(); 
      });
    })
  })

  //添加
  $('#add').on('click',function(){
    //点击跳转页面
    location.href = '/catadd';
  })

  //编辑
  //用委托绑定
  $('tbody').on('click','.edit',function(){
    //通过cat_id获取到当前编辑的参数
    let cat_id = $(this).attr('cat_id')
    location.href = '/catedit?cat_id=' + cat_id
  })

  </script>
</html>