<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      
       <!--头部栏-->
     {{ include './common/header.html'}}
      
     <!--左边侧边栏-->
     {{ include './common/side.html'}}
      
      <div class="layui-body">
        <!-- 内容主体区域 -->
        <h2 id="last_login_date"></h2> 
        <div style="padding: 15px; display: flex;">
          <h2>首页</h2>
          <div id="cate" style="width: 600px;height:400px;"></div>
          <div id="art" style="width: 600px;height:400px;"></div>
        </div>
      </div>
      
       <!--底部栏-->
     {{ include './common/footer.html'}}
     
    </div>
</body>
{{ include './common/scr.html'}}

<script src="/public/layui/layui.js"></script>
<script src="/public/js/echarts.js"></script>
<script>
   // 获取分类统计的数据
    $.get('/cateCount',(res)=>{
    // 成功只有再去渲染图表
     // 初始化图表
     let names = []; // 保存分类名称
     let totals = []; // 保存文章分类的总文章数
     res.map(v=>{
      names.push(v.name);
      totals.push(v.total)
    })
    let dom = document.getElementById("cate")
    initEchart(dom,names,totals);
  })

  // 获取文章统计的数据
  $.get('/artCount',(res)=>{
    // 成功只有再去渲染图表
     // 初始化图表
     let months = []; // 保存分类名称
     let totals = []; // 保存文章分类的总文章数
     res.map(v=>{
      months.push(v.month + '月');
      totals.push(v.total)
    })
    let dom = document.getElementById("art")
    initEchart(dom,months,totals);
  })

  function initEchart(dom,names,total){ 
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(dom);

    // 指定图表的配置项和数据
    var option = {
      title: {
        text: '管理系统',
        subtext:"单位：数量",
      
      },
      tooltip: {
        axisPointer:{
          //十字定位
          type:'cross',
        }
      },
      legend: {
        data: ['数量']
      },
      xAxis: {
        data: names
      },
      yAxis: {},
      series: [{
        name: '文章数',
        //type：bar为条形图，line为折线图，pie为圆心图
        type: 'line',
        data: total,
        label:{
          //show条形图显示数据在中间，fontsize为条形图中间数据的字体大小
          show:true,
          fonSize: 18,
          //showBackground 是背景颜色，要搭配backgroundstyle中的color一起使用
          //showBackground: true,
          //backgroundStyle:{
          // color:"blue"
          //}
        }
      }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
  }

  //显示用户信息
  let userInfo =  JSON.parse(localStorage.getItem('userInfo') || '{}');
  let last_login_date = util.date_format(userInfo.last_login_date)
  let str = `上一次登录时间为：${last_login_date}`;
  $('#last_login_date').html(str)


    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
      var element = layui.element;
      
      //…
    });

 
</script>
</html>