#upload {
    position: relative;
    margin: 40px auto 20px;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  #upload #avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
  
  #upload #_upload_dp {
    position: absolute;
    right: 0;
    bottom: 0;
  }